@font-face {
  font-family: Daniel;
  src: url(../fonts/daniel.regular.otf);
}
@font-face {
  font-family: Trebuchet MS;
  src: url(../fonts/trebuschet.ttf);
}
@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url(../fonts/verdana.TTF);
}
@font-face {
  font-family: Ardleys Hand;
  src: url(../fonts/ArdleysHand.ttf);
}
@font-face {
  font-family: Pacifico-Regular;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(../fonts/TAHOMA.TTF);
}
