body {
  background-color: #e2e1da;
  font-family: "Trebuchet MS";
  color: #424242;
}
@font-face {
  font-family: Daniel;
  src: url(../fonts/daniel.regular.otf);
}
@font-face {
  font-family: Trebuchet MS;
  src: url(../fonts/trebuschet.ttf);
}
@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url(../fonts/verdana.TTF);
}
@font-face {
  font-family: Ardleys Hand;
  src: url(../fonts/ArdleysHand.ttf);
}
@font-face {
  font-family: Pacifico-Regular;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(../fonts/TAHOMA.TTF);
}
.main-page-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}
.header {
  background-color: #282c2a;
}
.header__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link {
  font-size: 13px;
  color: #898888;
  transition: 0.2s;
}
.nav__link:hover {
  color: #b4b4b4;
  transition: 0.2s;
}
.logo {
  outline: 2px dashed #952b2b;
  outline-offset: -4px;
  height: 100%;
  display: inline-block;
  padding: 10px 15px;
  background: #c12727;
  font-size: 33px;
  color: #ffffff;
  font-family: "Daniel";
  text-align: center;
  text-shadow: 2px 3.464px 1.5px rgba(0, 0, 0, 0.4);
}
.main-wrapper {
  background-color: #f3f2ec;
}
.main-inner {
  margin: 10px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.post {
}
.post__inner {
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 22px;
  font-size: 12px;
  margin: 50px 0 75px 0;
}
.post__immage {
  width: 100%;
}
.post__title {
  font-size: 18px;
  background-color: #ffffff;
  display: flex;
  padding: 20px 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.post__title::before {
  content: "";
  background-image: url(../media/icons/heart.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
  display: block;
  margin: 0 10px 0 0;
}
.post__data {
  display: flex;
  margin: 10px 15px;
  font-size: 11px;
  font-weight: bold;
}
.post__data * {
  color: #635f44;
}
.post__time {
  color: #7a7a7a;
}
.hashtag {
  display: flex;
}
.post__text {
  padding: 15px;
  background-color: #ffffff;
}
.post__socials {
  margin: 10px 0 0 0;
  color: #3b5997;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #ebeae3;
  border-bottom: 2px solid #ebeae3;
}
.post__social-wrapper {
  display: flex;
}
.post__social {
  display: block;
  background-size: cover;
  width: 22px;
  height: 22px;
}
.post__social:nth-child(1) {
  background-image: url(../media/icons/facebook.svg);
}
.post__social:nth-child(2) {
  background-image: url(../media/icons/twitter.svg);
}
.comment-wrapper {
  margin: 75px 0 0 0;
}
.comment__inner {
  padding: 0 0 0 25px;
}
.comment {
  display: flex;
}
.comment__paragraph {
  padding: 15px;
  background-color: #ffffff;
}
.comment__img {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.comment__data {
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 11px;
  line-height: 48px;
  color: #cccabd;
}
.comment__from {
  color: #827e63;
}
.title2 {
  font-size: 16px;
  line-height: 20px;
  color: #737269;
  font-family: "Ardleys Hand";
  font-weight: bold;
  text-align: right;
}
.comment__title {
  margin: 0 60px 0 0;
}
.title2::after {
  content: " thoughts";
  margin: 0 -45px 0 0;
}
.form {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.form__item:nth-child(1) {
  height: 40px;
}
.form__item:nth-child(2) {
  margin: 20px 0;
  height: 40px;
}
.comment__form {
  margin: 10px 0 0 0;
  background-color: #ebeae4;
}
.form__item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #f2f1eb;
  text-align: center;
  line-height: 40px;
  color: #737269;
}
.input {
  border-left: 2px solid #737269;
}
.aside {
  background-color: #eae9e2;
}
.aside__item {
  padding: 0 10px 15px 10px;
}
.aside__content-wrapper {
  margin: 25px 0 0 0;
}
.aside__inner {
  margin: 50px 0 75px 0;
  font-size: 14px;
}
.aside__title {
  line-height: 20px;
  color: #3d3e3d;
  font-family: "Daniel";
  display: flex;
  align-items: center;
}
.aside__title::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background: rgb(234, 233, 226);
  background: linear-gradient(
    275deg,
    rgba(234, 233, 226, 1) 0%,
    rgba(209, 208, 202, 1) 100%
  );
  margin: 0 0 0 5px;
}
.post-small__title {
  display: flex;
  align-items: center;
}
.post-small__title::before {
  content: "";
  background-image: url(../media/icons/heart_2.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
  display: block;
  margin: 0 10px 0 0;
}
.post-small {
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
}
.post-small__inner {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
  border-top: 2px solid #e9e8e1;
  margin: 10px 0 0 0;
}
.post-small__paragraph {
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  color: #787878;
  font-family: "Verdana";
}
.aside__photos {
  display: flex;
  flex-direction: column;
}
.photos-wrapper {
  display: flex;
  justify-content: space-between;
}
.more-photos {
  margin: 20px 0 0 0;
  font-size: 12px;
  line-height: 20px;
  color: #6d6e76;
  font-family: "Lucida Grande";
  display: flex;
  align-self: end;
  align-items: center;
}
.more-photos::after {
  content: "";
  display: block;
  background-size: cover;
  background-image: url(../media/icons/photo.svg);
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}
.comment-small {
  display: flex;
  padding: 10px;
  background-color: #f6f5ef;
  align-items: center;
  transition: 0.2s;
}
.comment-small:hover {
  background-color: #e8dcd3;
  transition: 0.2s;
}
.comment-small:nth-child(2) {
  margin: 20px 0;
}
.comment-small__text {
  margin: 0 0 0 15px;
}
.footer {
  background-color: #252927;
  font-size: 12px;
  line-height: 22px;
  color: #afafaf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px 0;
}
.footer__middle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 0 20px 0;
  border-top: 2px solid #444544;
}
.footer__about {
  display: flex;
}
.footer__about-text {
  margin: 0 100px 0 0;
}
.footer__title {
  font-size: 20px;
  line-height: 20px;
  color: #f7f6f0;
  font-weight: 400;
  font-family: "Pacifico-Regular";
  align-self: center;
}
.footer__img {
  background-size: cover;
  width: 92px;
  height: 92px;
}
.socials-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.socials {
  display: flex;
}
.social {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #747672;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.social__img {
  width: 75%;
  height: 75%;
  background-size: cover;
}
.social:hover {
  background-color: #ebeae4;
  transition: 0.2s;
}
.footer__white-text {
  color: #ecebe5;
}
.footer__social-text::after {
  content: "24 minutes ago";
  color: #4b4c4b;
}
.footer__social {
  margin: 0 10px;
}
.footer__subtitle {
  font-size: 14px;
  line-height: 12px;
  color: #cfcec9;
  font-family: "Ardleys Hand";
  text-align: right;
}
.footer__bottom {
  background-color: #a72626;
  padding: 10px 0;
}
.footer-text-bottom {
  font-size: 13px;
  line-height: 20px;
  color: #f2d6d6;
  font-family: "Trebuchet MS";
}
.footer-text-bottom::after {
  content: ".com";
  color: #af5252;
}
